.program-page{
    width: 100%;
    min-height: 100vh;
    padding: 80px 0 0;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
.program-page .page-name{
    font-size: 60px;
    color: #ff5400;
    font-weight: 700;
    position: fixed;
    top: 45%;
    left: -120px;
    transform: rotate(-90deg);
    opacity: 0;
    transition: all 0.5s ease;
    font-weight: 700;
    z-index: 10000;
}
.program-page .page-name.show{
    transform: rotate(-90deg);
    opacity: 1;
    left: -80px;
}
.program-page .program-wrap{
    height: 100%;
    transform: translateX(30px);
    opacity: 0;
    transition: all 0.5s ease;
    position: relative;
    overflow-y: hidden;
    cursor: grab;
    width: 100%;
    overflow-x: auto;
    padding-left: 150px;
    box-sizing: border-box;
}
.program-wrap::-webkit-scrollbar {
    display: none;
}
.program-wrap:active {
    cursor: grabbing;
}

.program-wrap.showPage{
    transform: translateX(0);
    opacity: 1;
}
