*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{list-style: none;}
img{
    vertical-align: top; border: 0;
}
a{
    text-decoration: none; 
    color: #fff;
    display: block;
}
body {
    font-family: "Pretendard Variable", sans-serif;
    color: #fff;
    background-color: #000;
    position: relative;
}
html, body {
    height: 100%;
}
.page-container {
    min-height: 100vh;
}


@font-face {
    font-family: Pretendard;
    font-weight: 100 900;
    font-display: swap;
    src: local("Pretendard Variable"), url('/fonts/GTUltra-Bold.woff2') format("woff2-variations");
}
@font-face {
    font-family: 'GTUltra';
    font-weight: 700;
    font-display: swap;
    src: local("GTUltra-Bold"), url('/fonts/GTUltra-Bold.woff2') format("woff2"), url(../assets/fonts/GTUltra-Bold.woff) format("woff");
}
body.whitePage{
    color: #000;
    filter: none;
    background-color: #fff;
}
body.whitePage * {
    filter: none;
}

body.whitePage a{
    color: #000;
}
body.whitePage header{
    background-color: #fff;
}
body.whitePage header nav,
body.whitePage header .toggle{
    background-color: #fff;
}
body.whitePage footer *,
body.whitePage footer{
    background-color: #ff5400;
}
body.whitePage .logo{
    background-color: #fff;;
    filter: none;
}
body.home,
body.home * {
    cursor: none !important;
}
.custom-cursor {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 69px;
    height: 87px;
    z-index: 9999; 
    background-repeat: no-repeat;
    background-size: contain;
}

body.home .custom-cursor {
    background: url('/cursor-black.png') no-repeat center/contain;
}

body.home.whitePage .custom-cursor {
    background: url('/cursor.png') no-repeat center/contain;
}





header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 95px;
    display: grid;
    grid-template-columns: 1fr 11fr 0.1fr;
    align-items: center;
    padding: 0 36px;
    box-sizing: border-box;
}

header .logo{
    display: block;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(./assets/images/logo-symbol.svg);
    filter: invert(1);
}
header{
    width: 100%;
    background-color: #000;
}
header nav{
    width: 100%;
    height: 95px;
    display: flex;
    gap: 185px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    font-family: "GTUltra", sans-serif;
    background-color: #000;
}
header nav a{
    transition: all 0.3s;
}
header nav a:hover{
    color: #ff5400;
}
header .toggle{
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-family: "GTUltra", sans-serif;
    font-size: 16px;
    background-color: #000;
}
header .toggle .black-toggle,
header .toggle .white-toggle{
    cursor: pointer;
}
header .toggle .white-toggle{
    color: #414042;
    transition: all 0.3s;
}
header .toggle .white-toggle:hover{
    color: #fff;
}
body.whitePage header .toggle .black-toggle{
    color: #d1d3d4;
}
body.whitePage header .toggle .white-toggle{
    color: #000;
}
body.whitePage header .toggle .black-toggle:hover{
    color: #000;
}


.home-page{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 120px 0px 0px;
    box-sizing: border-box;
}
.home-page .bigTxt{
    width: 100%;
    height: 100%;
    filter: invert(1);
    width: 100%;
    padding: 0px 250px;
    box-sizing: border-box;
    object-fit: contain;
}
body.whitePage .home-page .bigTxt{
    filter: none;
}

footer{
    width: 100%;
    height: 50px;
    padding: 0 36px;
    box-sizing: border-box;
    background-color: #ff5400;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: "GTUltra", sans-serif;
    /* border: 1px solid #000; */
    z-index: 9999;
}
footer *{
    pointer-events: auto;
}
body.creators,
body.program-page,
body.contact {
    min-height: 100vh;
}
body.home footer,
body.creators footer,
body.program-page footer,
body.contact footer{
    position: fixed;
    bottom: 0px;
    left: 0;
}
body.contact.form-open footer{
    position: static;
}
body.contact.form-open .contact-page {
    min-height: calc(100vh - 50px);
    margin-bottom: 150px;
}
footer .copyright{
    font-weight: 700;
}
footer .sns{
    display: flex;
    gap: 10px;
    align-items: center;
}
footer .sns p{
    font-weight: 700;
}
footer .sns a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
footer .sns a img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
